/*CSS Document*/

html {
	background:black;
	font-family: Arial;
	font-size:16px;
	color:white;
	
}


div.html {
	width:1100px;
	margin:auto;
	text-align:center;
}





.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: #1a1a1a;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #8c8c8c;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #1a1a1a;
}

.show {
    display: block;
}



h1 {
	font-size:31px;
	color:#ccc;
	text-align:center;
}
p.zapati {
	font-size:12px;
	padding:10px;
	border-top:solid white 1px;
}
img.pastas {
	float:right;
	padding:4px;
}
div.text {
	text-align:left;
}




::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #666; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #1a1a1a; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #888; 
}

iframe {
	float:right;
}

div.text a:link {
color:white;
text-decoration: none;
float:none;

}


div.text a:visited {
color:white;
text-decoration: none;
float:none;

}

div.text a:hover {
color:white;
text-decoration: none;
float:none;

}

div.text a:active {
color:white;
text-decoration: none;
float:none;

}


div.basen {
	text-align:center;
}
img.bom {
	text-align:center;
	float:none;
	
}
div.pic {
	text-align:center;
	float:none;
	margin:auto;
}

div.langue {
float:right;	
}

div.langue a:link {
color:white;
text-decoration:none;	
}
div.langue a:hover {
color:white;
text-decoration:none;	
}
div.langue a:visited {
color:white;
text-decoration:none;	
}
div.langue a:active {
color:white;
text-decoration:none;	
}

